[submodule "roles/ansible-role-create-users"]
	path = roles/ansible-role-create-users
	url = https://github.com/ryandaniels/ansible-role-create-users
[submodule "roles/ansible-role-repo-epel"]
	path = roles/ansible-role-repo-epel
	url = https://github.com/azhinu/ansible-role-repo-epel
[submodule "roles/ansible-role-pip"]
	path = roles/ansible-role-pip
	url = https://github.com/geerlingguy/ansible-role-pip
[submodule "roles/ansible-role-wireguard"]
	path = roles/ansible-role-wireguard
	url = https://github.com/githubixx/ansible-role-wireguard
[submodule "roles/haxorof.ansible-role-docker-ce"]
	path = roles/haxorof.ansible-role-docker-ce
	url = https://github.com/haxorof/ansible-role-docker-ce
[submodule "roles/ansible-role-filebeat"]
	path = roles/ansible-role-filebeat
	url = https://github.com/geerlingguy/ansible-role-filebeat
[submodule "roles/ansible-role-docker"]
	path = roles/ansible-role-docker
	url = https://github.com/geerlingguy/ansible-role-docker
[submodule "roles/ansible-role-auditbeat"]
	path = roles/ansible-role-auditbeat
	url = https://github.com/azhinu/ansible-role-auditbeat
