[Unit]
Description=SoftEther VPN Server
After=network.target auditd.service
ConditionPathExists=!{{ softether_dir }}/do_not_run

[Service]
Type=forking
TasksMax=16777216
EnvironmentFile=-{{ softether_dir }}
ExecStart={{ softether_dir }}/vpnserver start
ExecStartPost=/bin/sleep 3
ExecStartPost=/usr/sbin/ifconfig {{ softether_tap_name }} {{ softether_tap_ip }}
ExecStop={{ softether_dir }}/vpnserver stop
KillMode=process
Restart=on-failure

# Hardening
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=full
ReadOnlyDirectories=/
ReadWriteDirectories=-{{ softether_dir }}
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_BROADCAST CAP_NET_RAW CAP_SYS_NICE CAP_SYSLOG CAP_SETUID

[Install]
WantedBy=multi-user.target
