version: "3"
services:
  grafana:
    image: grafana/grafana:{{ grafana_version}}
    environment:
      {{ grafana_config | indent(6) }}

      GF_DATABASE_TYPE: postgres
      GF_DATABASE_HOST: db
      GF_DATABASE_NAME: grafana
      GF_DATABASE_USER: grafana
      GF_DATABASE_PASSWORD: ${DB_GRAFANA_PASSWORD}

      GF_RENDERING_SERVER_URL: http://renderer:8081/render
      GF_RENDERING_CALLBACK_URL: http://grafana:3000/
    ports:
      - 3000:3000
    volumes:
      - ./grafana-data:/var/lib/grafana
      - ./provisioning:/etc/grafana/provisioning
      - ./dashboards:/usr/share/grafana/dashboards
    depends_on:
      - db
    restart: unless-stopped

  renderer:
    image: grafana/grafana-image-renderer:latest
    restart: unless-stopped

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: grafana
      POSTGRES_USER: grafana
      POSTGRES_PASSWORD: ${DB_GRAFANA_PASSWORD}
    volumes:
      - ./db:/var/lib/postgresql/data
    restart: unless-stopped
